@import '../../../assets/colors.scss';

.search-form {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.label-text {
    font-weight: bold;
    font-size: 20px;
}

.form-row {
    margin-bottom: 10px;
}

.input-field {
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}



// .search-button:hover {
//     background-color: darkblue;
// }