.history-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.location {
    font-weight: bold;
}

.search-time {
    font-size: 0.8rem;
    color: #888;
}